<ion-view title="Get Me A Cab (Rider)" >
    <ion-content has-header="true" padding="true">
        <div class="content padding">
            <b>Your name:</b> {{name}}
        </div>
        <div class="content padding">
            <b>Your phone:</b> {{phone}}
        </div>
        <div class="content padding">
            <button class="button button-positive button-block" ng-click="request()">
                Request A Cab
            </button>
        </div>
    </ion-content>
</ion-view>
