<ion-view title="Get Me A Cab (Rider)" >
    <ion-content has-header="true" padding="true">
        <div class="card">
            <div class="item item-divider">
                Enter your name
            </div>
            <div class="item item-text-wrap">
                <input type="text" placeholder="Enter your name" ng-model="user.name"/>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Enter your phone number
            </div>
            <div class="item item-text-wrap">
                <input type="text" placeholder="Enter your phone number" ng-model="user.phone"/>
            </div>
        </div>
        <div class="content padding">
            <button class="button button-positive button-block" ng-click="signin()">
                Signin 
            </button>
        </div>
    </ion-content>
</ion-view>
