<ion-view title="Get Me A Cab (Rider)" >
    <ion-content has-header="true" padding="true">
    <div ng-show="online"><h3><b>Network status:</b> up</h3></div>
    <div ng-show="!online"><h3><b>Network status:</b> down</h3></div>
    <div><h3><b>Rider name:</b> {{name}}</h3></div>
    <div><h3><b>Rider phone:</b> <a>{{phone}}</a></h3></div>
    <!--
    <div><h3><b>Current lat/lng (detected by GPS):</b> {{lat}},{{lng}}</h3></div>
    -->
    <div><h3><b>Current location (detected by GPS):</b> {{address}}</h3></div>
    <div class="content padding">
        <button class="button button-positive button-block" ng-click="request()">
            <h3>Request A Cab</h3>
        </button>
    </div>
    <div><b><h3>Requests accepted:</b> {{messages.length}}</h3></div>
    <div class="list">
        <div class="item item-text-wrap" ng-repeat="message in messages track by $index">
            {{message.date}}: Request accepted. Driver name: {{message.user.name}}(<a ng-href="tel:{{message.user.phone}}">{{message.user.phone}}</a>). Estimated distance: {{message.distance.text}}. Estimated duration: {{message.duration.text}}.
        </div>
    </div>
    </ion-content>
</ion-view>
